DATABASE_URL=postgresql://postgres.lmarjophpnsilwprjxvd:xUlCD7Nhz16vmXvS@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
SECRET_KEY=00d8bcfcb7f0cae423c73f6b043a049fc4813d32c34d5d5286e3389a7957c0f3
MAIL_USERNAME=urbanease.service@gmail.com
MAIL_PASSWORD=jwvztibdqnzwpqau
SUPABASE_URL=https://lmarjophpnsilwprjxvd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtYXJqb3BocG5zaWx3cHJqeHZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MTM1NDksImV4cCI6MjA5MDA4OTU0OX0.r8a44cAqcVO4MuYJFudqad8ctLB8b8jYhzselK0htRc
